@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --blue: hsl(223, 87%, 63%);
    --paleblue: hsl(223, 100%, 88%);
    --lightred: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --verydarkblue: hsl(209, 33%, 12%);

    /* body text font size: 20px 
    weights: 300, 600, 700*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Libre Franklin";
}